<h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username"
   placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <td>
    </td>
  </tr>

<%@users_list.each do |user_inst|%> 
<tr>
    <td>
      <%=user_inst.id%>
    </td>

    <td>
      <%=user_inst.username%>
    </td>

    <td>
      <a href="/users/<%=user_inst.username%>">
        Show details
      </a>
    </td>
  </tr>
<%end%>

</table>
